[submodule "Bridge-iOS-SDK"]
	path = Bridge-iOS-SDK
	url = https://github.com/Sage-Bionetworks/Bridge-iOS-SDK.git
[submodule "Carthage/Checkouts/SageResearch"]
	path = Carthage/Checkouts/SageResearch
	url = https://github.com/Sage-Bionetworks/SageResearch.git
